
                       
                             ______   _____    _____     ____    _____                                   _        
                            |  ____| |  __ \  |  __ \   / __ \  |  __ \         _  _      ___     ___   | |       
                            | |__    | |__) | | |__) | | |  | | | |__) |       | || |    / _ \   / _ \  | |       
                            |  __|   |  _  /  |  _  /  | |  | | |  _  /        | || |_  | | | | | | | | | |       
                            | |____  | | \ \  | | \ \  | |__| | | | \ \        |__   _| | |_| | | |_| | |_|       
                            |______| |_|  \_\ |_|  \_\  \____/  |_|  \_\          |_|    \___/   \___/  (_)       
                                                                                                        
                                                                                            
        ____               _____          _____    ______    ____    _    _   ______    _____   _______              __       
        |  _ \      /\     |  __ \        |  __ \  |  ____|  / __ \  | |  | | |  ____|  / ____| |__   __|           / /       
        | |_) |    /  \    | |  | |       | |__) | | |__    | |  | | | |  | | | |__    | (___      | |          (_) | |        
        |  _ <    / /\ \   | |  | |       |  _  /  |  __|   | |  | | | |  | | |  __|    \___ \     | |              | |        
        | |_) |  / ____ \  | |__| |       | | \ \  | |____  | |__| | | |__| | | |____   ____) |    | |           _  | |        
        |____/  /_/    \_\ |_____/        |_|  \_\ |______|  \___\_\  \____/  |______| |_____/     |_|          (_) | |        
                                                                                                                    \_\       

    __          __  _____    _____   _______   ______          _____    ____    _____    _____    ______    _____   _______        
    \ \        / / |  __ \  |_   _| |__   __| |  ____|        / ____|  / __ \  |  __ \  |  __ \  |  ____|  / ____| |__   __|       
     \ \  /\  / /  | |__) |   | |      | |    | |__          | |      | |  | | | |__) | | |__) | | |__    | |         | |          
      \ \/  \/ /   |  _  /    | |      | |    |  __|         | |      | |  | | |  _  /  |  _  /  |  __|   | |         | |          
       \  /\  /    | | \ \   _| |_     | |    | |____        | |____  | |__| | | | \ \  | | \ \  | |____  | |____     | |          
        \/  \/     |_|  \_\ |_____|    |_|    |______|        \_____|  \____/  |_|  \_\ |_|  \_\ |______|  \_____|    |_|          
                                                                                                                                
                                                                                                                                    
                                             ______    ____    _____    __  __         _  
                                            |  ____|  / __ \  |  __ \  |  \/  |       | | 
                                            | |__    | |  | | | |__) | | \  / |       | | 
                                            |  __|   | |  | | |  _  /  | |\/| |       | | 
                                            | |      | |__| | | | \ \  | |  | |       |_| 
                                            |_|       \____/  |_|  \_\ |_|  |_|       (_) 

